.comment
    padding: 10px 0
    &__message
        line-height: 20px
        width: 100%
        overflow-wrap: break-word
        word-wrap: break-word
    &__title
        display: flex
        justify-content: space-between
        margin-bottom: 18px
    &__title-name
        font-size: larger
    &__title-date
        color: #669
    &__manage
        padding: 10px 0